<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sukenda.burisma">

    <application
        android:name="id.sukenda.burisma.service.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="id.sukenda.burisma.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.sukenda.burisma.e.g.SampleActivity" />
        <activity android:name="id.sukenda.burisma.e.g.TabSample" />
        <activity android:name="id.sukenda.burisma.e.g.TabClassicSample" />
        <activity android:name="id.sukenda.burisma.e.g.TextSample" />
        <activity android:name="id.sukenda.burisma.e.g.DotsSample" />
        <activity android:name="id.sukenda.burisma.e.g.ProgressSample" />
        <activity android:name="id.sukenda.burisma.activity.MainActivity" />
        <activity
            android:name="id.sukenda.burisma.activity.BeginStepActivity"
            android:screenOrientation="portrait" />
        <activity android:name="id.sukenda.burisma.activity.ResultActivity" />
        <activity
            android:name="id.sukenda.burisma.activity.GejalaActivity"
            android:label="@string/title_activity_gejala"
            android:theme="@style/AppTheme" />
        <activity
            android:name="id.sukenda.burisma.activity.PenyakitActivity"
            android:label="@string/title_activity_kerusakan"
            android:theme="@style/AppTheme" />
        <activity
            android:name="id.sukenda.burisma.activity.PanduanActivity"
            android:label="@string/title_activity_panduan"
            android:theme="@style/AppTheme" />
        <activity
            android:name="id.sukenda.burisma.activity.TentangActivity"
            android:label="@string/title_activity_tentang"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>